<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Satisfação</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Dashboard de Satisfação dos Clientes - Academia</h1>
    <div>
        {% for graph in graphs %}
            <div style="margin-bottom: 50px;">
                {{ graph|safe }}
            </div>
        {% endfor %}
    </div>
</body>
</html>
